.iframe{border:none}body{font-family:"Lato",sans-serif;overflow-x:hidden;margin:0;padding:0;background-color:#FFFAF0}.element{text-align:center;margin-left:auto;margin-right:auto;margin-bottom:2rem}section{margin:0rem}h1{padding:4rem;font-size:3em;font-style:normal;font-weight:lighter;text-align:center}h2{font-size:3em}h3{margin-left:0;text-align:center;font-style:normal;font-weight:normal;font-size:1.5rem}h4{font-style:normal;font-weight:normal}h5{font-style:normal;font-weight:normal}h6{font-style:normal;font-weight:normal}p{width:100%;margin-top:0}a{color:black}a:hover{color:#50A85E}a.active,a.active:hover{color:#50A85E}ul{list-style:none}

/* Overlay --------------- */
.menu-wrap{
  display: none;
}

/* End of Overlay --------------- */
/* Nav --------------- */

nav a:hover, nav a:focus {
  text-decoration: none;
}

.arrow button{
  display: none;
}

.topbanner {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #FFFAF0;
}

.topbanner .logo{
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 2em;
  text-align: center;
}

.topbanner .logo a{
  text-decoration: none;
  font-weight: bold;
}

.topbanner ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFAF0;
}

li a {
  display: block;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

li a:hover:not(.active) {
  color: #50A85E;
}

/* Hamburger --------------- */

.hamburger{
  display:none;
}

.mobile-bottom-nav{
  display:none;
}

/* End of Hamburger --------------- */

 /*Back to top Button*/
 .top-button {
  display: inline-block;
  background-color: rgba(212, 163, 115, 0.75);
  backdrop-filter: blur(0.1rem);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 40px;
  position: fixed;
  bottom:calc(50% - 50px);
  left: 13rem;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.top-button::after {
  content: "";
  position: absolute;
  transform: translate(-50%, 175%) rotate(-45deg); 
  width: 10px;
  height: 10px;
  border-top: 2px solid #FFFAF0; 
  border-right: 2px solid #FFFAF0;
}

.top-button:hover {
  cursor: pointer;
  background-color: #A7C957;
}
.top-button:active {
  background-color: #A7C957;
}
.top-button.show {
  opacity: 1;
  visibility: visible;
}

/*End of Back to top Button*/

/* End of Nav --------------- */

/* Footer --------------- */
.site-footer {
  position:relative;
  background-color:#E9EDC9;
  padding: 45px 0.5rem 20px;
  font-size: 0.9rem;
  line-height: 1rem;
  z-index:1;
  overflow:auto;
}

.site-footer .copyright{
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.site-footer .style{
  margin-left:calc(100% - 12rem);
  display:flex;
  flex-direction: column;
}

.site-footer .align{
  display:flex;
  flex-direction: row;
}

.site-footer .footer-text{
  margin-left: 1rem;
  font-style: normal;
  font-weight: bold;
}

.site-footer .footer-email{
  margin-left: 1rem;
}
/* End of Footer --------------- */

code {
  background-color: #e9edc9;
  padding: 0.5rem;
  display: block;
  width:100%;
}

/* Layout --------------- */

.index-box {
  margin-left: 1rem;
  display: flex;
  column-gap: 20px;
  flex-direction: column;
}

.index-box h2{
  font-weight:bold;
  font-size: 1.5rem;
}

.index h1 {
  padding: 0;
}

.index {
  width:100%;
}

.index .title{
  text-align: center;
  margin-bottom: 3rem;
  padding:0;
}

.index h2 {
  margin-bottom: 1rem;
}

.index p{
  overflow-wrap: break-word;
}

.index-left {
  width: 15%; 
  margin-left: 1rem;
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
  position: fixed;
} 

.index-left a {
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.citations-right { 
  margin-top: 0rem;
  margin-left: 20%;
  /*border-left:1px solid #50A85E;*/
}

.citations-right .line{ 
  overflow-x:hidden;
}

.right-side{
  margin-left: 2rem;
  margin-right: 2rem;
}

.citations-right h2 { 
  margin-left: 1rem;
}

.right-side h2 {
  text-align: center;
}

.right-side .left{
  text-align: left;
  margin-left: 1rem;
}

.normal{
  margin:0;
  margin-left: -1rem;
}

.right-side h3 { 
  position: relative;
  z-index: 1;
  display: inline-block; 
  background-color: #FFFAF0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.citations-right .border {
  margin-left: auto;
  margin-right: auto;
}

.citations-right p { 
  margin-left: 1rem;
}

.rendered{
  margin-bottom: 1rem;
}

/* End of Layout --------------- */

/*Index Page*/
.index-content{
  text-align: left;
  border:1px solid #d4a373;
  margin-top:-2.5rem;
  max-width: 75%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-left: auto;
  margin-right: auto;
  padding-top:3rem;
  padding-left:2rem;
  padding-right:2rem;
}

.index-combined{
  text-align: left;
  border:1px solid #d4a373;
  margin-top:-2.5rem;
  max-width: 75%;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-top:3rem;
  padding-left:2rem;
  padding-right:2rem;
}

.index-combined .line{
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-x:hidden;
}

.index-description{
  text-align: left;
  max-width: 90%;
  margin-top:1.25rem;
  z-index: 1;
}

.index-description .enter{
  margin-top: 0rem;
  margin-bottom: 1rem;
  z-index: 1;
}

.font{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.font p{
  text-align: center;
  font-weight:100;
  font-size: medium;
  font-style: normal;
  margin-bottom: 1rem;
  margin-right: 5rem;
}
/*End of Index Page*/

/* Colour Palette --------------- */
.colour-box {
  width: 10vw; /* or any other relative unit */
  height: 10vw;
  border-radius: 50%;
}

.image-container {
  display: flex;
  min-height: auto;
  justify-content: space-evenly;
}

.column{
  max-width:11vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
}

.column p{
  max-width: 100%;
  margin-left:0;
  text-align: center;
}

#black{
  background-color: #000000 ;
}

#brown{
  background-color: #d4a373 ;
}

#yellow_green{
  background-color: #A7C957 ;
}

#grass{
  background-color: #50A85E ;
}

#moss{
  background-color: #E9EDC9 ;
}

#cream{
  border: 1px solid black;
  background-color: #FFFAF0 ;
}
/* End of Colour Palette --------------- */

/* Separation --------------- */
.line{
  height: 1px;
  background-color: #50A85E;
  overflow-x:hidden;
}

.border {
  width: 15rem;
  height: 0.15rem;
  background: #a7c957;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}
/* End of Separation --------------- */

/* Interactive Items --------------- */
.in-text-link {
  text-decoration:underline;
}

.in-text-link:hover {
  color: #50a85e;
}

.in-text-link.active {
  color: #50a85e;
}

.button-nav{
  background-color: #FFFAF0;
  color:#000000;
  text-decoration: none;
}

.button-nav:hover{
  color:#50A85E;
}

.enter{
  background-color: #a7c957;
  margin-top: 3rem;
  padding: 10px 20px; 
  color:#000000;
  text-decoration: none;
  border: none;
}

.index-description .enter:hover{
  cursor:pointer;
}

.enter:hover{
  background-color:#d4a373;
  cursor:pointer;
}

form {
  border-radius: 10px;
  overflow: hidden;
  width: 20rem;
}

input[type=text]{
  margin-top:0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  width: 90%;
}

input[type=text]:hover{
  border: 2px solid #50A85E;
}

input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid gray;
}

input[type="radio"]:checked {
  background-color: #50A85E;
}

.linked-img{
  width:100%;
  height:auto;
  display: block;
  transition: all 0.3s ease-out;
}

.linked-img:hover{
  filter:brightness(70%);
  width:100%;
  height:auto;
}

.overlay-container {
  position: relative;
  display: inline-block;
}

.overlay-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0.05);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-container:hover::after {
  opacity: 1;
}

/* End of Interactive Items --------------- */

/* Home Layout --------------- */

.content{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.text{
  margin-left: 1rem;
}

.text h1{
  text-align: left;
  padding:0;
  margin-top: 0;
  margin-bottom: 0;
  font-size:2rem;
}

.text h2{
  text-align: left;
}

.text h3{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -1rem;
  font-weight: lighter;
  font-style: normal;
  font-size:medium;
}

.text p{
  margin-top: -1.5rem;
  margin-left: 0rem;
  font-weight:100;
  font-style: normal;
  min-width: 15rem;
}

.text{
  align-self: end;
}

.description{
  transform: translate(0%, 50%);
}

.introduction{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 2rem;
  justify-content: center;
}

.introduction .text{
  min-width: 17rem;
}

.introduction .project-img{
  margin-left: auto;
  margin-right: auto;
}

.project-img{
  max-width:150%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

.example{
  max-width:90%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

/* End of Home Layout --------------- */

/*About Page*/

.about-content{
  margin:auto;
  display:flex;
  flex: 1;
  margin-top:3rem;
  margin-bottom: 2rem;
  margin-left:15%;
  margin-right: 15%;
}

.me-img{
  display: flex;
  flex-direction: column;
  width:auto;
  min-height: 80%;
  max-height: 100%;
  min-width: 20rem;
}

.me-img img{
  height: auto;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.right{
  margin-left: 1rem;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0rem;
}

.right2{
  margin-left: 1rem;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0rem;
}


/*End of About Page*/


/* Project 1 Page--------------- */

.starting-intro{
  justify-content: center;
  margin-right: 5rem;
  margin-left: 2rem;
}

.image-intro{
  width:100%;
}


.project-content{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}

.project-content h2{
  margin: 1rem;
  font-weight:500;
  font-size: medium;
  font-style: normal;
}

.project-content p{
  margin: 1rem;
  font-weight:100;
  font-size: medium;
  font-style: normal;

}
.project-explanation p{
  font-weight:100;
  font-size: medium;
  font-style: normal;
  margin-bottom: 1rem;
  width:90%;
}

.project-explanation .project-content{
  margin-left: auto;
  margin-right: auto;
}


.process-img{
  width:50%;
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding:0;
}

.grid2 .process-img{
  width:100%;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.grid2 p{
  width:100%;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-left: 0;
  color:#50A85E;
  margin-top: -2.75rem;
}


.grid p{
  margin-left:auto;
  margin-right:auto;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color:#50A85E;
  margin-top: .25rem;
}

.next{
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.version{
  text-align: center;
}

.side-lines{
  margin-left: 4rem;
  margin-right: 4rem;
}

/*Carousel*/

.carousel-container{
  position:relative;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container img{
  border-radius:.5em;
  width:100%;
}

.carousel-img {
  transition: opacity 0.5s ease-in-out;
}

.hidden{
  display:none;
}
.visible{
  display:block;
}
.click{
  display:inline;
}
.prev, .click{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: -1.5em .3em 0 .3em;
  padding: 1em;
  color: #FFFAF0;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.3s ease;
  border-radius: 40px;
  user-select: none;
  background-color: rgba(212, 163, 115, 0.5);
}

.prev::after{
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) rotate(-135deg); 
  width: 10px;
  height: 10px;
  border-top: 2px solid #FFFAF0; 
  border-right: 2px solid #FFFAF0;
}

.go::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg); 
  width: 10px;
  height: 10px;
  border-top: 2px solid #FFFAF0; 
  border-right: 2px solid #FFFAF0;
}

.go {
  right:0 ;
}
.click:hover{
  background-color:#A7C957;
  color:#FFFAF0;
}

.slide-numbers{
  text-align: center;
  position:absolute;
  bottom:-1em;
  left:calc(50% - 10px);

}
.dot{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(204,204,204, 0.3);
  border-radius: 50%;
  display: inline-block;
} 

.dot:hover, .live{
  background-color: #50A85E;
  height: 12px;
  width: 12px;
}
.dot:hover{
   box-shadow: 0 0 5px #fff;
}
.carousel-caption{
  max-width:90%;
  padding-left: 3%;;
  margin-top:1.5rem;
  color:#50A85E;
  font-style: italic;
  text-align: center;
}

.carousel-caption p{
  margin-left: auto;
  max-width:100%;
  margin-right: auto;
}

/* End of Project 1 --------------- */
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
}

.video .iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Condense*/
.condense {
  position: absolute;
  top: 0;
}
.hideme {
  opacity: 0;
  z-index: -99999;
}

label:hover {
cursor: pointer;
}
.showme {
  opacity: 1;
}

/*End of Condense*/

/*Citations Page*/
.image-layout {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.image-box {
  padding: 10px;
  max-width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
}

.image-box p {
  width:90%;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color:#50A85E;
  margin-top: .25rem;
}


.image-box img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  height: 275px;
}

.image-box a {
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration:underline;
  color: #A7C957;
}

.image-box .second-pt{
  color: #000000;
  margin-top: -.75rem;
  font-style: normal;
  font-weight:100;
  font-size: medium;
  font-style: normal;
}

.image-box a:hover {
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration: none;
  color: #50A85E;
}


.coding a {
  color: #A7C957;
}

.coding a:hover {
  color: #50A85E;
}

/* Responsiveness --------------- */

@media screen and (max-width: 850px) {
  .topbanner{
    display:none;
  }
  .index .title{
    margin-top: 10rem;
  }

  /*Overlayyyyyyyyyyy*/
  /* MENU STYLES */
  .menu-wrap {
    display:contents;
    position: fixed;
    top: 0;
    left: 0;
    padding:0;
    z-index: 3;
    
  }

  .menu-wrap .toggler {
    margin-top:-1rem;
    position: absolute;
    z-index: 4;
    cursor: pointer;
    width: 70px;
    height: 70px;
    opacity: 0;
    right:-25px;
    margin-right:2rem;
    color: #50A85E;
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    padding:0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #E9EDC9;
    margin-left: 0;
    margin-right: 0;
    opacity: .9;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    padding:0;
    margin-left: 0;
    margin-right: 0;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    margin-left: 0;
    margin-right: 0;
    padding:0;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .menu-wrap .menu > div > div{
    margin: 0;
    padding: 0;
    text-align: center;

  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #000000;
    font-size: 1.5rem;
    margin-left: -2rem;
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
 
  }

  .menu-wrap .menu > div > div > ul > li:hover {
    color: #50A85E;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  /*End of Overlayyyyyyyyy*/ 

  .hamburger{
    display:contents;
  }

  .hamburger nav{
    margin-top:2rem;
  }

  button{
    background-color: #FFFAF0;
    border:none;
  }
  
  .animated-icon1{
    z-index: 3;
    width: 30px;
    height: 20px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    position: absolute;
    right:-27px;
    margin-right:3rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background: var(--primary-color);
  }

  .animated-icon2{
    z-index: 3;
    width: 30px;
    height: 20px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    position: absolute;
    right:0;
    margin-right:3rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background: var(--primary-color);
  }
  
  .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .animated-icon1 span {
    background: #d4a373;
  }
  
  .animated-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  /*End of Hamburger Page*/

  .top-button {
    left:auto;
    bottom:11.5rem;
    right: 13px;
  }

  /*Bottom Navigation*/

  .mobile-bottom-nav{
    display: block;
    position: relative;
    top: 50px;
    left: 60px;
    -webkit-user-select: none;
    user-select: none;
  }

  .mobile-bottom-nav__item{
    flex-grow:1;
    text-align:center;
    font-size:12px;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .mobile-bottom-nav a{
    text-decoration: none;  
    transition: color 0.3s ease;
  }

  .mobile-bottom-nav a:hover{
    color: #50A85E;
  }

 .mobile-bottom-nav input[type="checkbox"] {
  display: block;
  width: 50px;
  height: 32px;
  position: fixed;
  bottom: 30px;
  right: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 4; /* and place it over the hamburger */
  -webkit-touch-callout: none;
  border-radius: 50%; /* make the checkbox round */
  }

  .bottom-menu{
    position: fixed;
    width: 95%;
    height:50px;
    bottom: 25px;
    margin: -100px 0 0 -50px;
    padding-right: 50px;
    padding-left: 5px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-radius: 40px; 
    background-color: rgba(212, 163, 115, 0.5);
    backdrop-filter: blur(0.1rem);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    display:flex;
    z-index:2;
  }
  /*
  * And let's slide it in from the left
  */
  .mobile-bottom-nav input:checked ~ .bottom-menu {
    transform: none;
  }
  
  .arrow button{
    display: block;
  }

  .mobile-bottom-nav input:checked ~ .arrow button {
    transform: rotate(180deg);
    background-color: rgba(212, 163, 115, 0);
    backdrop-filter: blur(0);
  }

  .mobile-bottom-nav input:checked ~ .arrow button:before {
    border-top: 2px solid #A7C957; 
    border-right: 2px solid #A7C957;
  }

  .mobile-bottom-nav input:hover ~ .arrow button {
    background-color: #A7C957;
  }

  .mobile-bottom-nav input:checked ~ .arrow button{
    background-color: rgba(212, 163, 115, 0);
  }

  .arrow button{
    width: 50px;
    height: 50px;
    bottom: 17px;
    right: -35px;
    position: fixed;
    z-index: 3;
    background-color: rgba(212, 163, 115);
    backdrop-filter: blur(0.1rem);
    border-radius: 40px;
  }

  .arrow button:hover{
    background-color: #A7C957;
  }

  .arrow button:before {
    content: "";
    position: absolute;
    transform: translate(-30%, -50%) rotate(-135deg); 
    width: 10px;
    height: 10px;
    border-top: 2px solid #FFFAF0; 
    border-right: 2px solid #FFFAF0;
    transition: transform 0.3s ease-in-out;
  }

  /*End of Bottom Navigation*/
  
  .content{
    display: flex;
    flex-direction: column;
  }

  .introduction{
    display: flex;
    flex-direction: column;
    min-width: auto;
    justify-content: center;
    align-items: center;
    margin-left:0;
    margin-right:0;
    padding:0;
  }

  .introduction h1{
    margin-top:3rem;
    margin-right: 0;
  }

  .introduction p{
    min-width: auto;
  }

  .introduction .project-img{
    text-align: center;
    width:auto;
    margin-left:auto;
    margin-right:auto;
  }

  .introduction-background{
    margin-top: -29rem;
  }

  .headertop .mobile-icon{
    display: block;
  }

  .index {
    overflow: hidden;
    width:100%;
  }

  .index-left {
    display: none;
  }

  /*
  .index-left {
    width: 100%;
    margin-left: 0;
    padding:0;
    position: relative;
    text-align: center;
  }

  */

  .index-box {
    max-width: 100%;
    display: flex;
    margin-left: 0rem;
    margin-right: 1rem;
  }

  .citations-right{
    margin-left:1% ;
    margin-right:1% ;
  }

  .citations-right { 
    border-left:none;
  }

  .nav-example ul{
    flex-direction: column;
  }

  .vertical-line{
    display:none;
  }

  /*Index pages*/
  .column{
    max-width:30%;
  }

  .column .note{
    display:none;
  }

  .image-container {
    flex-wrap: wrap;
    width:100%;
  }

  .colour-box {
    margin-left:1rem;
    margin-right:1rem;
    width: 16vw; /* or any other relative unit */
    height: 16vw;
    border-radius: 50%;
  }

  .right-side{
    margin-left: auto;
    margin-right: auto;
  }

  .right-side .left{
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .right-side h2 {
    margin-left: 0rem;
  }

  /*End of Index pages*/

  /*Home Page*/

  /*End of Home Page*/

  .example{
    margin-top: 10rem;
    max-width:100%;
    text-align: center;
    height:auto;
  }
  


  /*About me*/

  .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .me-img{
    width: 70%;
    margin-bottom: 2rem;
    margin-left:auto;
    margin-right: auto;
  }

  .right{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .right2{
    margin-left: auto;
    margin-right: auto;
    width:80%;
  }

  .right2 h1{
    text-align: center;
  }

  .right h1{
    text-align: center;
  }


  .text{
    margin-left: 0rem;
  }

  .text h1{
    margin: 0;
  }

  .text h3{
    margin: 0;
    padding:0;

  }

  .text p{
    margin-top: 0rem;
    margin-left: 0rem;
    font-weight:100;
    font-style: normal;
    min-width: 15rem;
  }


  /*End of About me*/

  /*Project Pages*/

  .project-content{
    display:block;
  }

  .intro_section .project-content{
    margin-left: 0;
    margin-right: 1rem;
  }

  .process-img{
    width: 50%;
  }

  .starting-intro{
    margin-right: 1rem;
  }

  .video{
    width:100%;
  }

  

  /*End of Project Pages*/

  /*Citations*/
  .image-layout {
    margin-left: auto;
    margin-right: auto;
    padding:0;
    flex-direction: column;
    max-width: 100%;
  }

  .image-layout .image-box {
    max-width: 50%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .image-layout .image-box img {
    width: 100%;
    height: 100%;
  }


  .font{
    max-width: 100%;
  }

  .font p{
    text-align: center;
    font-weight:100;
    font-size: medium;
    font-style: normal;
    margin-bottom: 1rem;
    margin-right: 5rem;
  }
    /*End of Citations page*/
    .index-combined{
      border:1px solid #d4a373;
      margin-top:-2.5rem;
      max-width: 100%;

      margin-left: -1rem;
      margin-right: -1rem;
      padding-top:3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

    }

    .index-content{

      max-width: 100%;

      margin-left: -1rem;
      margin-right: -1rem;
      padding-top:3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

    }



}

/* End of Responsiveness --------------- */